obj/Debug/net5.0/ref/ServiceSystem.dll
obj/Debug/net5.0/ServiceSystem.pdb
obj/Debug/net5.0/ServiceSystem.dll
obj/Debug/net5.0/ServiceSystem.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/ServiceSystem.csproj.AssemblyReference.cache
bin/Debug/net5.0/ref/ServiceSystem.dll
bin/Debug/net5.0/ServiceSystem.pdb
bin/Debug/net5.0/ServiceSystem.dll
bin/Debug/net5.0/ServiceSystem.dll
bin/Debug/net5.0/ServiceSystem.pdb
obj/Debug/net5.0/ServiceSystem.dll
obj/Debug/net5.0/ServiceSystem.pdb
