@{
    ViewData["Title"] = "RSS";
}

<div class="text-center">
    <h1 class="display-4">Serviço de atendimento ao Cliente</h1>
    <p>Página destinada a criação de pedidos</a>.</p>
    <p>Para acessar a página de pedidos, <a href="~/Pedidos">clique aqui</a>.</p>
    <p>Para inserir produtos ao estoque, <a href="~/Pedidos">clique aqui</a>.</p>
</div>
